#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.game,
.games {
  background-color: var(--input-background);
  border-radius: 1em;
}

.orange-text {
  color: var(--orange-medium);
}

button.small {
  padding: 0.25em .5em;
  font-size: 1em;
  border-radius: 0.5em;
  width: 100px;
}

@keyframes colorChange {

  0%,
  100% {
    background-color: var(--text-dark);
    /* Start and end color */
  }

  50% {
    background-color: var(--orange-light);
    /* 2nd rhythmic change */
  }
}

.game-entry {
  width: 100%;
  cursor: pointer;
  color: white;
  background-color: var(--orange-medium);
  padding: 0.5em;
  border-radius: 0.25em;
}

.game-entry.is-turn {
  animation: colorChange 3s infinite;
}

.game-entry.is-turn:hover {
  animation: none;
}

.game-entry.selected {
  background-color: var(--orange-light);
}

.game-entry.is-ended {
  background-color: lightgray;
  color: gray;
}

.game-entry:hover {
  background-color: var(--orange-light);
}